.techniques{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.techniques_place{
  margin: 0 auto;
}

.cards{
  width: 920px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  column-gap: 100px;
  place-content: center;
}
.cards__item{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards__image{
  width: 160px;
  height: 160px;
}
.cards__title{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 43px;
}
.cards_description{
  line-height: 23px;
  font-size: 18px;
  text-align: center;
  margin-top: 16px;
}

.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.video__iframes{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -50px;
  z-index: 2;
}
.video__iframe{
  margin-right: 20px;
  z-index: 10;
}

.video__iframe:last-of-type{
  margin-right: 0;
}

.oakley{
  display: flex;
  justify-content: center;
  padding-top: 160px;
  background-color: #f2f2f2;
}

.khan{
  display: flex;
  background-color: #f2f2f2;
}

.khan__container{
  width: 80%;
  display: flex;
  margin: 105px auto 0;
  flex-direction: column;
  align-items: left;
}
.khan__author{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.khan__title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.khan__quote{
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 50px;
}
.khan__quote-author{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 36px;
}
.khan__quote-author-subline{
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-top: 10px;
}
.khan__book-container{
  height: 608px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  margin-top: 60px;
}
.khan__book-pic{
  width: 620px;
  margin-right: 48px;
}
.khan__buy-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.resources{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 217px;
}
.resources__logo-zone{
  width: 1100px;
  display: flex;
  justify-content: center;
  margin-top: 80px;

}
.resources__logo{
  width: 270px;
  height: 38px;
}
