.feynman__title,.footer__column-heading,.footer__column_content_copyright,.footer__column_content_info,.footer__column_content_social,
.header__title,.header__subtitle,.section-title,.section-title_theme_dark,.table,.table__heading,.two-columns__brief,.cards__item,.cards__title,
.cards_description,.khan__author,.khan__title,.khan__quote,.khan__quote-author,.khan__quote-author-subline{
  margin: 0;
  padding: 0;
}
.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
  }
